*{
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 

  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;

  background-color:#296e35;;
  color:cyan
  
}
main {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  
  
}

#logo{
  font-family: 'Pattaya', sans-serif;
  color:cyan;
  font-size: 2em;
}

#app {
  color:rgb(97, 167, 28);
  font-family: 'poppins';
  
}

body {
  background-color: rgb(217, 255, 255);
  margin: 0;
  padding: 0;
  height:100%;
}

#dreamList {
  background-color: #296e35;
  color:cyan;
  font-family: 'poppins';
  font-size: 1em;
  flex: 1, 1;
  width: 25%;
  height:10000px;
  

}
#dreamDisplay {
  background-color: rgb(217, 255, 255);
  color:rgb(97, 167, 28);
  font-family: 'poppins';
  font-size: 1.2em;
  flex: 1, 1.5;
  width: 75%;
  
}



Dreamcontroller
*{
  margin: 0;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 

  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;

  background-color:#296e35;;
  color:cyan
  
}
main {
  display: flex;
  flex-direction: row;
  align-items: stretch; 
  
  
}

#logo{
  font-family: 'Pattaya', sans-serif;
  color:cyan;
  font-size: 2em;
}

#app {
  color:rgb(97, 167, 28);
  font-family: 'poppins';
  
}

body {
  background-color: rgb(217, 255, 255);
  margin: 0;
  padding: 0;
  height:100%;
}

#dreamList {
  background-color: #296e35;
  color:cyan;
  font-family: 'poppins';
  font-size: 1em;
  flex: 1, 1;
  width: 25%;
  height:10000px;
  

}
#dreamDisplay {
  background-color: rgb(217, 255, 255);
  color:rgb(97, 167, 28);
  font-family: 'poppins';
  font-size: 1.2em;
  flex: 1, 1.5;
  width: 75%;
  
}

